 .form-container {
  margin-top: 100px;
  padding: 12px;
  background-color: #fff;
  border-radius: 12px;
}

.form h1 {
  text-align: center;
}

.form {
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.form_label {
  font-weight: 700;
}

.form_input {
  max-width: 40rem;
  width: 100%;
  border: 1px solid #e5e7eb;
  padding: 0.5rem;
  outline: none;
  border-radius: 8px;
  font-size: 18px;
} 

/* Gender */

.form_gender {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 18px;
  font-weight: 500;
} 
.form_gender input[type="radio"]{
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #007bff;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  
  
}
.form_gender input[type="radio"]:checked {
  background-color: #007bff; 
  border-color: #007bff; 
}



.form_input:focus {
  border: 2px solid #14616a;
}

.form-button {
  margin-top: 8px;
  padding: 8px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(15 118 110);
  border-radius: 8px;
  border: 1px solid #fff;
}

.form-button:hover{
  font-size: 20px;
}

 
